/*********************************************************/
/*                      Reset                            */
/*********************************************************/
    body,
    html {
        padding: 0;
        margin: 0
    }
    ul {
        padding: 0;
        margin: 0
    }
    * {
        outline: none
    }
    input,
    select,
    textarea,
    figure {
        box-sizing: border-box
    }
    ul li {
        list-style-type: none
    }
    figure {
        margin: 0
    }
    a {
        cursor: pointer
    }
    a:active {
        position: relative;
        top: 1px;
    }

/*********************************************************/
/*                      Variables                        */
/*********************************************************/

    /* No Padding Left */
    .NPL { padding-left: 0 !important; }

    /* No Padding Right */
    .NPR { padding-right: 0 !important; }

    /* No Padding Top */
    .NPT { padding-top: 0 !important; }

    /* No Padding Bottom */
    .NPB { padding-bottom: 0 !important; }

    /* Float => Right */
    .FR { float: right !important; }

    /* Float => Left */
    .FL { float: left !important; }

    /* Clear */
    .Clear {
        display: block;
        clear: both;
    }

    /* Inline */
    .Inline {
        float: none !important;
        display: inline-block !important;
    }

    /* Container */
    .Container {
        width: 1200px;
        margin: 0 auto;
        display: block;
        padding: 0 15px;
        box-sizing: border-box
    }

    /* Image Fulled */
    .FullImage img {
        width: 100%;
        height: auto;
        display: block
    }

    /* Custom Position */
    .Relative {
        position: relative
    }

    /* No Margin */
    .NM {
        margin: 0!important
    }

    /* No Padding */
    .NP {
        padding: 0!important
    }

    /* Text Align is Right */
    .TR {
        text-align: right!important
    }

    /* Text Align is Left */
    .TL {
        text-align: left!important
    }

    /* Text Align is Center */
    .TC {
        text-align: center!important
    }


/*********************************************************/
/*                      Grid System                      */
/*********************************************************/
.Mues {
    display: block;
    float: left;
    box-sizing: border-box
}
.MS-ROW {
    width: 100%;
    display: block;
    box-sizing: border-box
}
.MS-ROW:after {
    content: "";
    clear: both;
    display: block
}
.MS-1 {
    width: 1%
}
.MS-2 {
    width: 2%
}
.MS-3 {
    width: 3%
}
.MS-4 {
    width: 4%
}
.MS-5 {
    width: 5%
}
.MS-6 {
    width: 6%
}
.MS-7 {
    width: 7%
}
.MS-8 {
    width: 8%
}
.MS-9 {
    width: 9%
}
.MS-10 {
    width: 10%
}
.MS-11 {
    width: 11%
}
.MS-12 {
    width: 12%
}
.MS-13 {
    width: 13%
}
.MS-14 {
    width: 14%
}
.MS-15 {
    width: 15%
}
.MS-16 {
    width: 16%
}
.MS-17 {
    width: 17%
}
.MS-18 {
    width: 18%
}
.MS-19 {
    width: 19%
}
.MS-20 {
    width: 20%
}
.MS-21 {
    width: 21%
}
.MS-22 {
    width: 22%
}
.MS-23 {
    width: 23%
}
.MS-24 {
    width: 24%
}
.MS-25 {
    width: 25%
}
.MS-26 {
    width: 26%
}
.MS-27 {
    width: 27%
}
.MS-28 {
    width: 28%
}
.MS-29 {
    width: 29%
}
.MS-30 {
    width: 30%
}
.MS-31 {
    width: 31%
}
.MS-32 {
    width: 32%
}
.MS-33 {
    width: 33%
}
.MS-34 {
    width: 34%
}
.MS-35 {
    width: 35%
}
.MS-36 {
    width: 36%
}
.MS-37 {
    width: 37%
}
.MS-38 {
    width: 38%
}
.MS-39 {
    width: 39%
}
.MS-40 {
    width: 40%
}
.MS-41 {
    width: 41%
}
.MS-42 {
    width: 42%
}
.MS-43 {
    width: 43%
}
.MS-44 {
    width: 44%
}
.MS-45 {
    width: 45%
}
.MS-46 {
    width: 46%
}
.MS-47 {
    width: 47%
}
.MS-48 {
    width: 48%
}
.MS-49 {
    width: 49%
}
.MS-50 {
    width: 50%
}
.MS-51 {
    width: 51%
}
.MS-52 {
    width: 52%
}
.MS-53 {
    width: 53%
}
.MS-54 {
    width: 54%
}
.MS-55 {
    width: 55%
}
.MS-56 {
    width: 56%
}
.MS-57 {
    width: 57%
}
.MS-58 {
    width: 58%
}
.MS-59 {
    width: 59%
}
.MS-60 {
    width: 60%
}
.MS-61 {
    width: 61%
}
.MS-62 {
    width: 62%
}
.MS-63 {
    width: 63%
}
.MS-64 {
    width: 64%
}
.MS-65 {
    width: 65%
}
.MS-66 {
    width: 66%
}
.MS-67 {
    width: 67%
}
.MS-68 {
    width: 68%
}
.MS-69 {
    width: 69%
}
.MS-70 {
    width: 70%
}
.MS-71 {
    width: 71%
}
.MS-72 {
    width: 72%
}
.MS-73 {
    width: 73%
}
.MS-74 {
    width: 74%
}
.MS-75 {
    width: 75%
}
.MS-76 {
    width: 76%
}
.MS-77 {
    width: 77%
}
.MS-78 {
    width: 78%
}
.MS-79 {
    width: 79%
}
.MS-80 {
    width: 80%
}
.MS-81 {
    width: 81%
}
.MS-82 {
    width: 82%
}
.MS-83 {
    width: 83%
}
.MS-84 {
    width: 84%
}
.MS-85 {
    width: 85%
}
.MS-86 {
    width: 86%
}
.MS-87 {
    width: 87%
}
.MS-88 {
    width: 88%
}
.MS-89 {
    width: 89%
}
.MS-90 {
    width: 90%
}
.MS-91 {
    width: 91%
}
.MS-92 {
    width: 92%
}
.MS-93 {
    width: 93%
}
.MS-94 {
    width: 94%
}
.MS-95 {
    width: 95%
}
.MS-96 {
    width: 96%
}
.MS-97 {
    width: 97%
}
.MS-98 {
    width: 98%
}
.MS-99 {
    width: 99%
}
.MS-100 {
    width: 100%
}
.MS-GW-1 {
    width: 100%
}
.MS-GW-2 {
    width: 50%
}
.MS-GW-3 {
    width: 33.3333%
}
.MS-GW-4 {
    width: 25%
}
.MS-GW-5 {
    width: 20%
}
.MS-GW-6 {
    width: 16.6666667%
}
.MS-GW-7 {
    width: 14.2857143%
}
.MS-GW-8 {
    width: 12.5%
}
.MS-GW-9 {
    width: 11.1111111%
}
.MS-GW-10 {
    width: 10%
}
.MS-PD-LR-1 {
    padding-left: 1px;
    padding-right: 1px
}
.MS-PD-LR-2 {
    padding-left: 2px;
    padding-right: 2px
}
.MS-PD-LR-3 {
    padding-left: 3px;
    padding-right: 3px
}
.MS-PD-LR-4 {
    padding-left: 4px;
    padding-right: 4px
}
.MS-PD-LR-5 {
    padding-left: 5px;
    padding-right: 5px
}
.MS-PD-LR-6 {
    padding-left: 6px;
    padding-right: 6px
}
.MS-PD-LR-7 {
    padding-left: 7px;
    padding-right: 7px
}
.MS-PD-LR-8 {
    padding-left: 8px;
    padding-right: 8px
}
.MS-PD-LR-9 {
    padding-left: 9px;
    padding-right: 9px
}
.MS-PD-LR-10 {
    padding-left: 10px;
    padding-right: 10px
}
.MS-PD-LR-11 {
    padding-left: 11px;
    padding-right: 11px
}
.MS-PD-LR-12 {
    padding-left: 12px;
    padding-right: 12px
}
.MS-PD-LR-13 {
    padding-left: 13px;
    padding-right: 13px
}
.MS-PD-LR-14 {
    padding-left: 14px;
    padding-right: 14px
}
.MS-PD-LR-15 {
    padding-left: 15px;
    padding-right: 15px
}
.MS-PD-LR-16 {
    padding-left: 16px;
    padding-right: 16px
}
.MS-PD-LR-17 {
    padding-left: 17px;
    padding-right: 17px
}
.MS-PD-LR-18 {
    padding-left: 18px;
    padding-right: 18px
}
.MS-PD-LR-19 {
    padding-left: 19px;
    padding-right: 19px
}
.MS-PD-LR-20 {
    padding-left: 20px;
    padding-right: 20px
}
.MS-PD-LR-21 {
    padding-left: 21px;
    padding-right: 21px
}
.MS-PD-LR-22 {
    padding-left: 22px;
    padding-right: 22px
}
.MS-PD-LR-23 {
    padding-left: 23px;
    padding-right: 23px
}
.MS-PD-LR-24 {
    padding-left: 24px;
    padding-right: 24px
}
.MS-PD-LR-25 {
    padding-left: 25px;
    padding-right: 25px
}
.MS-PD-LR-26 {
    padding-left: 26px;
    padding-right: 26px
}
.MS-PD-LR-27 {
    padding-left: 27px;
    padding-right: 27px
}
.MS-PD-LR-28 {
    padding-left: 28px;
    padding-right: 28px
}
.MS-PD-LR-29 {
    padding-left: 29px;
    padding-right: 29px
}
.MS-PD-LR-30 {
    padding-left: 30px;
    padding-right: 30px
}
.MS-PD-LR-31 {
    padding-left: 31px;
    padding-right: 31px
}
.MS-PD-LR-32 {
    padding-left: 32px;
    padding-right: 32px
}
.MS-PD-LR-33 {
    padding-left: 33px;
    padding-right: 33px
}
.MS-PD-LR-34 {
    padding-left: 34px;
    padding-right: 34px
}
.MS-PD-LR-35 {
    padding-left: 35px;
    padding-right: 35px
}
.MS-PD-LR-36 {
    padding-left: 36px;
    padding-right: 36px
}
.MS-PD-LR-37 {
    padding-left: 37px;
    padding-right: 37px
}
.MS-PD-LR-38 {
    padding-left: 38px;
    padding-right: 38px
}
.MS-PD-LR-39 {
    padding-left: 39px;
    padding-right: 39px
}
.MS-PD-LR-40 {
    padding-left: 40px;
    padding-right: 40px
}
.MS-PD-LR-41 {
    padding-left: 41px;
    padding-right: 41px
}
.MS-PD-LR-42 {
    padding-left: 42px;
    padding-right: 42px
}
.MS-PD-LR-43 {
    padding-left: 43px;
    padding-right: 43px
}
.MS-PD-LR-44 {
    padding-left: 44px;
    padding-right: 44px
}
.MS-PD-LR-45 {
    padding-left: 45px;
    padding-right: 45px
}
.MS-PD-LR-46 {
    padding-left: 46px;
    padding-right: 46px
}
.MS-PD-LR-47 {
    padding-left: 47px;
    padding-right: 47px
}
.MS-PD-LR-48 {
    padding-left: 48px;
    padding-right: 48px
}
.MS-PD-LR-49 {
    padding-left: 49px;
    padding-right: 49px
}
.MS-PD-LR-50 {
    padding-left: 50px;
    padding-right: 50px
}
.MS-PD-LR-51 {
    padding-left: 51px;
    padding-right: 51px
}
.MS-PD-LR-52 {
    padding-left: 52px;
    padding-right: 52px
}
.MS-PD-LR-53 {
    padding-left: 53px;
    padding-right: 53px
}
.MS-PD-LR-54 {
    padding-left: 54px;
    padding-right: 54px
}
.MS-PD-LR-55 {
    padding-left: 55px;
    padding-right: 55px
}
.MS-PD-LR-56 {
    padding-left: 56px;
    padding-right: 56px
}
.MS-PD-LR-57 {
    padding-left: 57px;
    padding-right: 57px
}
.MS-PD-LR-58 {
    padding-left: 58px;
    padding-right: 58px
}
.MS-PD-LR-59 {
    padding-left: 59px;
    padding-right: 59px
}
.MS-PD-LR-60 {
    padding-left: 60px;
    padding-right: 60px
}
.MS-PD-LR-61 {
    padding-left: 61px;
    padding-right: 61px
}
.MS-PD-LR-62 {
    padding-left: 62px;
    padding-right: 62px
}
.MS-PD-LR-63 {
    padding-left: 63px;
    padding-right: 63px
}
.MS-PD-LR-64 {
    padding-left: 64px;
    padding-right: 64px
}
.MS-PD-LR-65 {
    padding-left: 65px;
    padding-right: 65px
}
.MS-PD-LR-66 {
    padding-left: 66px;
    padding-right: 66px
}
.MS-PD-LR-67 {
    padding-left: 67px;
    padding-right: 67px
}
.MS-PD-LR-68 {
    padding-left: 68px;
    padding-right: 68px
}
.MS-PD-LR-69 {
    padding-left: 69px;
    padding-right: 69px
}
.MS-PD-LR-70 {
    padding-left: 70px;
    padding-right: 70px
}
.MS-PD-LR-71 {
    padding-left: 71px;
    padding-right: 71px
}
.MS-PD-LR-72 {
    padding-left: 72px;
    padding-right: 72px
}
.MS-PD-LR-73 {
    padding-left: 73px;
    padding-right: 73px
}
.MS-PD-LR-74 {
    padding-left: 74px;
    padding-right: 74px
}
.MS-PD-LR-75 {
    padding-left: 75px;
    padding-right: 75px
}
.MS-PD-LR-76 {
    padding-left: 76px;
    padding-right: 76px
}
.MS-PD-LR-77 {
    padding-left: 77px;
    padding-right: 77px
}
.MS-PD-LR-78 {
    padding-left: 78px;
    padding-right: 78px
}
.MS-PD-LR-79 {
    padding-left: 79px;
    padding-right: 79px
}
.MS-PD-LR-80 {
    padding-left: 80px;
    padding-right: 80px
}
.MS-PD-LR-81 {
    padding-left: 81px;
    padding-right: 81px
}
.MS-PD-LR-82 {
    padding-left: 82px;
    padding-right: 82px
}
.MS-PD-LR-83 {
    padding-left: 83px;
    padding-right: 83px
}
.MS-PD-LR-84 {
    padding-left: 84px;
    padding-right: 84px
}
.MS-PD-LR-85 {
    padding-left: 85px;
    padding-right: 85px
}
.MS-PD-LR-86 {
    padding-left: 86px;
    padding-right: 86px
}
.MS-PD-LR-87 {
    padding-left: 87px;
    padding-right: 87px
}
.MS-PD-LR-88 {
    padding-left: 88px;
    padding-right: 88px
}
.MS-PD-LR-89 {
    padding-left: 89px;
    padding-right: 89px
}
.MS-PD-LR-90 {
    padding-left: 90px;
    padding-right: 90px
}
.MS-PD-LR-91 {
    padding-left: 91px;
    padding-right: 91px
}
.MS-PD-LR-92 {
    padding-left: 92px;
    padding-right: 92px
}
.MS-PD-LR-93 {
    padding-left: 93px;
    padding-right: 93px
}
.MS-PD-LR-94 {
    padding-left: 94px;
    padding-right: 94px
}
.MS-PD-LR-95 {
    padding-left: 95px;
    padding-right: 95px
}
.MS-PD-LR-96 {
    padding-left: 96px;
    padding-right: 96px
}
.MS-PD-LR-97 {
    padding-left: 97px;
    padding-right: 97px
}
.MS-PD-LR-98 {
    padding-left: 98px;
    padding-right: 98px
}
.MS-PD-LR-99 {
    padding-left: 99px;
    padding-right: 99px
}
.MS-PD-LR-100 {
    padding-left: 100px;
    padding-right: 100px
}
.MS-PD-TB-1 {
    padding-top: 1px;
    padding-bottom: 1px
}
.MS-PD-TB-2 {
    padding-top: 2px;
    padding-bottom: 2px
}
.MS-PD-TB-3 {
    padding-top: 3px;
    padding-bottom: 3px
}
.MS-PD-TB-4 {
    padding-top: 4px;
    padding-bottom: 4px
}
.MS-PD-TB-5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.MS-PD-TB-6 {
    padding-top: 6px;
    padding-bottom: 6px
}
.MS-PD-TB-7 {
    padding-top: 7px;
    padding-bottom: 7px
}
.MS-PD-TB-8 {
    padding-top: 8px;
    padding-bottom: 8px
}
.MS-PD-TB-9 {
    padding-top: 9px;
    padding-bottom: 9px
}
.MS-PD-TB-10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.MS-PD-TB-11 {
    padding-top: 11px;
    padding-bottom: 11px
}
.MS-PD-TB-12 {
    padding-top: 12px;
    padding-bottom: 12px
}
.MS-PD-TB-13 {
    padding-top: 13px;
    padding-bottom: 13px
}
.MS-PD-TB-14 {
    padding-top: 14px;
    padding-bottom: 14px
}
.MS-PD-TB-15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.MS-PD-TB-16 {
    padding-top: 16px;
    padding-bottom: 16px
}
.MS-PD-TB-17 {
    padding-top: 17px;
    padding-bottom: 17px
}
.MS-PD-TB-18 {
    padding-top: 18px;
    padding-bottom: 18px
}
.MS-PD-TB-19 {
    padding-top: 19px;
    padding-bottom: 19px
}
.MS-PD-TB-20 {
    padding-top: 20px;
    padding-bottom: 20px
}
.MS-PD-TB-21 {
    padding-top: 21px;
    padding-bottom: 21px
}
.MS-PD-TB-22 {
    padding-top: 22px;
    padding-bottom: 22px
}
.MS-PD-TB-23 {
    padding-top: 23px;
    padding-bottom: 23px
}
.MS-PD-TB-24 {
    padding-top: 24px;
    padding-bottom: 24px
}
.MS-PD-TB-25 {
    padding-top: 25px;
    padding-bottom: 25px
}
.MS-PD-TB-26 {
    padding-top: 26px;
    padding-bottom: 26px
}
.MS-PD-TB-27 {
    padding-top: 27px;
    padding-bottom: 27px
}
.MS-PD-TB-28 {
    padding-top: 28px;
    padding-bottom: 28px
}
.MS-PD-TB-29 {
    padding-top: 29px;
    padding-bottom: 29px
}
.MS-PD-TB-30 {
    padding-top: 30px;
    padding-bottom: 30px
}
.MS-PD-TB-31 {
    padding-top: 31px;
    padding-bottom: 31px
}
.MS-PD-TB-32 {
    padding-top: 32px;
    padding-bottom: 32px
}
.MS-PD-TB-33 {
    padding-top: 33px;
    padding-bottom: 33px
}
.MS-PD-TB-34 {
    padding-top: 34px;
    padding-bottom: 34px
}
.MS-PD-TB-35 {
    padding-top: 35px;
    padding-bottom: 35px
}
.MS-PD-TB-36 {
    padding-top: 36px;
    padding-bottom: 36px
}
.MS-PD-TB-37 {
    padding-top: 37px;
    padding-bottom: 37px
}
.MS-PD-TB-38 {
    padding-top: 38px;
    padding-bottom: 38px
}
.MS-PD-TB-39 {
    padding-top: 39px;
    padding-bottom: 39px
}
.MS-PD-TB-40 {
    padding-top: 40px;
    padding-bottom: 40px
}
.MS-PD-TB-41 {
    padding-top: 41px;
    padding-bottom: 41px
}
.MS-PD-TB-42 {
    padding-top: 42px;
    padding-bottom: 42px
}
.MS-PD-TB-43 {
    padding-top: 43px;
    padding-bottom: 43px
}
.MS-PD-TB-44 {
    padding-top: 44px;
    padding-bottom: 44px
}
.MS-PD-TB-45 {
    padding-top: 45px;
    padding-bottom: 45px
}
.MS-PD-TB-46 {
    padding-top: 46px;
    padding-bottom: 46px
}
.MS-PD-TB-47 {
    padding-top: 47px;
    padding-bottom: 47px
}
.MS-PD-TB-48 {
    padding-top: 48px;
    padding-bottom: 48px
}
.MS-PD-TB-49 {
    padding-top: 49px;
    padding-bottom: 49px
}
.MS-PD-TB-50 {
    padding-top: 50px;
    padding-bottom: 50px
}
.MS-PD-TB-51 {
    padding-top: 51px;
    padding-bottom: 51px
}
.MS-PD-TB-52 {
    padding-top: 52px;
    padding-bottom: 52px
}
.MS-PD-TB-53 {
    padding-top: 53px;
    padding-bottom: 53px
}
.MS-PD-TB-54 {
    padding-top: 54px;
    padding-bottom: 54px
}
.MS-PD-TB-55 {
    padding-top: 55px;
    padding-bottom: 55px
}
.MS-PD-TB-56 {
    padding-top: 56px;
    padding-bottom: 56px
}
.MS-PD-TB-57 {
    padding-top: 57px;
    padding-bottom: 57px
}
.MS-PD-TB-58 {
    padding-top: 58px;
    padding-bottom: 58px
}
.MS-PD-TB-59 {
    padding-top: 59px;
    padding-bottom: 59px
}
.MS-PD-TB-60 {
    padding-top: 60px;
    padding-bottom: 60px
}
.MS-PD-TB-61 {
    padding-top: 61px;
    padding-bottom: 61px
}
.MS-PD-TB-62 {
    padding-top: 62px;
    padding-bottom: 62px
}
.MS-PD-TB-63 {
    padding-top: 63px;
    padding-bottom: 63px
}
.MS-PD-TB-64 {
    padding-top: 64px;
    padding-bottom: 64px
}
.MS-PD-TB-65 {
    padding-top: 65px;
    padding-bottom: 65px
}
.MS-PD-TB-66 {
    padding-top: 66px;
    padding-bottom: 66px
}
.MS-PD-TB-67 {
    padding-top: 67px;
    padding-bottom: 67px
}
.MS-PD-TB-68 {
    padding-top: 68px;
    padding-bottom: 68px
}
.MS-PD-TB-69 {
    padding-top: 69px;
    padding-bottom: 69px
}
.MS-PD-TB-70 {
    padding-top: 70px;
    padding-bottom: 70px
}
.MS-PD-TB-71 {
    padding-top: 71px;
    padding-bottom: 71px
}
.MS-PD-TB-72 {
    padding-top: 72px;
    padding-bottom: 72px
}
.MS-PD-TB-73 {
    padding-top: 73px;
    padding-bottom: 73px
}
.MS-PD-TB-74 {
    padding-top: 74px;
    padding-bottom: 74px
}
.MS-PD-TB-75 {
    padding-top: 75px;
    padding-bottom: 75px
}
.MS-PD-TB-76 {
    padding-top: 76px;
    padding-bottom: 76px
}
.MS-PD-TB-77 {
    padding-top: 77px;
    padding-bottom: 77px
}
.MS-PD-TB-78 {
    padding-top: 78px;
    padding-bottom: 78px
}
.MS-PD-TB-79 {
    padding-top: 79px;
    padding-bottom: 79px
}
.MS-PD-TB-80 {
    padding-top: 80px;
    padding-bottom: 80px
}
.MS-PD-TB-81 {
    padding-top: 81px;
    padding-bottom: 81px
}
.MS-PD-TB-82 {
    padding-top: 82px;
    padding-bottom: 82px
}
.MS-PD-TB-83 {
    padding-top: 83px;
    padding-bottom: 83px
}
.MS-PD-TB-84 {
    padding-top: 84px;
    padding-bottom: 84px
}
.MS-PD-TB-85 {
    padding-top: 85px;
    padding-bottom: 85px
}
.MS-PD-TB-86 {
    padding-top: 86px;
    padding-bottom: 86px
}
.MS-PD-TB-87 {
    padding-top: 87px;
    padding-bottom: 87px
}
.MS-PD-TB-88 {
    padding-top: 88px;
    padding-bottom: 88px
}
.MS-PD-TB-89 {
    padding-top: 89px;
    padding-bottom: 89px
}
.MS-PD-TB-90 {
    padding-top: 90px;
    padding-bottom: 90px
}
.MS-PD-TB-91 {
    padding-top: 91px;
    padding-bottom: 91px
}
.MS-PD-TB-92 {
    padding-top: 92px;
    padding-bottom: 92px
}
.MS-PD-TB-93 {
    padding-top: 93px;
    padding-bottom: 93px
}
.MS-PD-TB-94 {
    padding-top: 94px;
    padding-bottom: 94px
}
.MS-PD-TB-95 {
    padding-top: 95px;
    padding-bottom: 95px
}
.MS-PD-TB-96 {
    padding-top: 96px;
    padding-bottom: 96px
}
.MS-PD-TB-97 {
    padding-top: 97px;
    padding-bottom: 97px
}
.MS-PD-TB-98 {
    padding-top: 98px;
    padding-bottom: 98px
}
.MS-PD-TB-99 {
    padding-top: 99px;
    padding-bottom: 99px
}
.MS-PD-TB-100 {
    padding-top: 100px;
    padding-bottom: 100px
}
.MS-PD-AC-1 {
    padding: 1px
}
.MS-PD-AC-2 {
    padding: 2px
}
.MS-PD-AC-3 {
    padding: 3px
}
.MS-PD-AC-4 {
    padding: 4px
}
.MS-PD-AC-5 {
    padding: 5px
}
.MS-PD-AC-6 {
    padding: 6px
}
.MS-PD-AC-7 {
    padding: 7px
}
.MS-PD-AC-8 {
    padding: 8px
}
.MS-PD-AC-9 {
    padding: 9px
}
.MS-PD-AC-10 {
    padding: 10px
}
.MS-PD-AC-11 {
    padding: 11px
}
.MS-PD-AC-12 {
    padding: 12px
}
.MS-PD-AC-13 {
    padding: 13px
}
.MS-PD-AC-14 {
    padding: 14px
}
.MS-PD-AC-15 {
    padding: 15px
}
.MS-PD-AC-16 {
    padding: 16px
}
.MS-PD-AC-17 {
    padding: 17px
}
.MS-PD-AC-18 {
    padding: 18px
}
.MS-PD-AC-19 {
    padding: 19px
}
.MS-PD-AC-20 {
    padding: 20px
}
.MS-PD-AC-21 {
    padding: 21px
}
.MS-PD-AC-22 {
    padding: 22px
}
.MS-PD-AC-23 {
    padding: 23px
}
.MS-PD-AC-24 {
    padding: 24px
}
.MS-PD-AC-25 {
    padding: 25px
}
.MS-PD-AC-26 {
    padding: 26px
}
.MS-PD-AC-27 {
    padding: 27px
}
.MS-PD-AC-28 {
    padding: 28px
}
.MS-PD-AC-29 {
    padding: 29px
}
.MS-PD-AC-30 {
    padding: 30px
}
.MS-PD-AC-31 {
    padding: 31px
}
.MS-PD-AC-32 {
    padding: 32px
}
.MS-PD-AC-33 {
    padding: 33px
}
.MS-PD-AC-34 {
    padding: 34px
}
.MS-PD-AC-35 {
    padding: 35px
}
.MS-PD-AC-36 {
    padding: 36px
}
.MS-PD-AC-37 {
    padding: 37px
}
.MS-PD-AC-38 {
    padding: 38px
}
.MS-PD-AC-39 {
    padding: 39px
}
.MS-PD-AC-40 {
    padding: 40px
}
.MS-PD-AC-41 {
    padding: 41px
}
.MS-PD-AC-42 {
    padding: 42px
}
.MS-PD-AC-43 {
    padding: 43px
}
.MS-PD-AC-44 {
    padding: 44px
}
.MS-PD-AC-45 {
    padding: 45px
}
.MS-PD-AC-46 {
    padding: 46px
}
.MS-PD-AC-47 {
    padding: 47px
}
.MS-PD-AC-48 {
    padding: 48px
}
.MS-PD-AC-49 {
    padding: 49px
}
.MS-PD-AC-50 {
    padding: 50px
}
.MS-PD-AC-51 {
    padding: 51px
}
.MS-PD-AC-52 {
    padding: 52px
}
.MS-PD-AC-53 {
    padding: 53px
}
.MS-PD-AC-54 {
    padding: 54px
}
.MS-PD-AC-55 {
    padding: 55px
}
.MS-PD-AC-56 {
    padding: 56px
}
.MS-PD-AC-57 {
    padding: 57px
}
.MS-PD-AC-58 {
    padding: 58px
}
.MS-PD-AC-59 {
    padding: 59px
}
.MS-PD-AC-60 {
    padding: 60px
}
.MS-PD-AC-61 {
    padding: 61px
}
.MS-PD-AC-62 {
    padding: 62px
}
.MS-PD-AC-63 {
    padding: 63px
}
.MS-PD-AC-64 {
    padding: 64px
}
.MS-PD-AC-65 {
    padding: 65px
}
.MS-PD-AC-66 {
    padding: 66px
}
.MS-PD-AC-67 {
    padding: 67px
}
.MS-PD-AC-68 {
    padding: 68px
}
.MS-PD-AC-69 {
    padding: 69px
}
.MS-PD-AC-70 {
    padding: 70px
}
.MS-PD-AC-71 {
    padding: 71px
}
.MS-PD-AC-72 {
    padding: 72px
}
.MS-PD-AC-73 {
    padding: 73px
}
.MS-PD-AC-74 {
    padding: 74px
}
.MS-PD-AC-75 {
    padding: 75px
}
.MS-PD-AC-76 {
    padding: 76px
}
.MS-PD-AC-77 {
    padding: 77px
}
.MS-PD-AC-78 {
    padding: 78px
}
.MS-PD-AC-79 {
    padding: 79px
}
.MS-PD-AC-80 {
    padding: 80px
}
.MS-PD-AC-81 {
    padding: 81px
}
.MS-PD-AC-82 {
    padding: 82px
}
.MS-PD-AC-83 {
    padding: 83px
}
.MS-PD-AC-84 {
    padding: 84px
}
.MS-PD-AC-85 {
    padding: 85px
}
.MS-PD-AC-86 {
    padding: 86px
}
.MS-PD-AC-87 {
    padding: 87px
}
.MS-PD-AC-88 {
    padding: 88px
}
.MS-PD-AC-89 {
    padding: 89px
}
.MS-PD-AC-90 {
    padding: 90px
}
.MS-PD-AC-91 {
    padding: 91px
}
.MS-PD-AC-92 {
    padding: 92px
}
.MS-PD-AC-93 {
    padding: 93px
}
.MS-PD-AC-94 {
    padding: 94px
}
.MS-PD-AC-95 {
    padding: 95px
}
.MS-PD-AC-96 {
    padding: 96px
}
.MS-PD-AC-97 {
    padding: 97px
}
.MS-PD-AC-98 {
    padding: 98px
}
.MS-PD-AC-99 {
    padding: 99px
}
.MS-PD-AC-100 {
    padding: 100px
}
@media only screen and (min-width: 320px) and (max-width: 415px) {
    [class*="MS-"] {
        width: 100%
    }
    .FixedHeader {
        position: static!important
    }
    .MS-MW-1 {
        width: 1%!important
    }
    .MS-MW-2 {
        width: 2%!important
    }
    .MS-MW-3 {
        width: 3%!important
    }
    .MS-MW-4 {
        width: 4%!important
    }
    .MS-MW-5 {
        width: 5%!important
    }
    .MS-MW-6 {
        width: 6%!important
    }
    .MS-MW-7 {
        width: 7%!important
    }
    .MS-MW-8 {
        width: 8%!important
    }
    .MS-MW-9 {
        width: 9%!important
    }
    .MS-MW-10 {
        width: 10%!important
    }
    .MS-MW-11 {
        width: 11%!important
    }
    .MS-MW-12 {
        width: 12%!important
    }
    .MS-MW-13 {
        width: 13%!important
    }
    .MS-MW-14 {
        width: 14%!important
    }
    .MS-MW-15 {
        width: 15%!important
    }
    .MS-MW-16 {
        width: 16%!important
    }
    .MS-MW-17 {
        width: 17%!important
    }
    .MS-MW-18 {
        width: 18%!important
    }
    .MS-MW-19 {
        width: 19%!important
    }
    .MS-MW-20 {
        width: 20%!important
    }
    .MS-MW-21 {
        width: 21%!important
    }
    .MS-MW-22 {
        width: 22%!important
    }
    .MS-MW-23 {
        width: 23%!important
    }
    .MS-MW-24 {
        width: 24%!important
    }
    .MS-MW-25 {
        width: 25%!important
    }
    .MS-MW-26 {
        width: 26%!important
    }
    .MS-MW-27 {
        width: 27%!important
    }
    .MS-MW-28 {
        width: 28%!important
    }
    .MS-MW-29 {
        width: 29%!important
    }
    .MS-MW-30 {
        width: 30%!important
    }
    .MS-MW-31 {
        width: 31%!important
    }
    .MS-MW-32 {
        width: 32%!important
    }
    .MS-MW-33 {
        width: 33%!important
    }
    .MS-MW-34 {
        width: 34%!important
    }
    .MS-MW-35 {
        width: 35%!important
    }
    .MS-MW-36 {
        width: 36%!important
    }
    .MS-MW-37 {
        width: 37%!important
    }
    .MS-MW-38 {
        width: 38%!important
    }
    .MS-MW-39 {
        width: 39%!important
    }
    .MS-MW-40 {
        width: 40%!important
    }
    .MS-MW-41 {
        width: 41%!important
    }
    .MS-MW-42 {
        width: 42%!important
    }
    .MS-MW-43 {
        width: 43%!important
    }
    .MS-MW-44 {
        width: 44%!important
    }
    .MS-MW-45 {
        width: 45%!important
    }
    .MS-MW-46 {
        width: 46%!important
    }
    .MS-MW-47 {
        width: 47%!important
    }
    .MS-MW-48 {
        width: 48%!important
    }
    .MS-MW-49 {
        width: 49%!important
    }
    .MS-MW-50 {
        width: 50%!important
    }
    .MS-MW-51 {
        width: 51%!important
    }
    .MS-MW-52 {
        width: 52%!important
    }
    .MS-MW-53 {
        width: 53%!important
    }
    .MS-MW-54 {
        width: 54%!important
    }
    .MS-MW-55 {
        width: 55%!important
    }
    .MS-MW-56 {
        width: 56%!important
    }
    .MS-MW-57 {
        width: 57%!important
    }
    .MS-MW-58 {
        width: 58%!important
    }
    .MS-MW-59 {
        width: 59%!important
    }
    .MS-MW-60 {
        width: 60%!important
    }
    .MS-MW-61 {
        width: 61%!important
    }
    .MS-MW-62 {
        width: 62%!important
    }
    .MS-MW-63 {
        width: 63%!important
    }
    .MS-MW-64 {
        width: 64%!important
    }
    .MS-MW-65 {
        width: 65%!important
    }
    .MS-MW-66 {
        width: 66%!important
    }
    .MS-MW-67 {
        width: 67%!important
    }
    .MS-MW-68 {
        width: 68%!important
    }
    .MS-MW-69 {
        width: 69%!important
    }
    .MS-MW-70 {
        width: 70%!important
    }
    .MS-MW-71 {
        width: 71%!important
    }
    .MS-MW-72 {
        width: 72%!important
    }
    .MS-MW-73 {
        width: 73%!important
    }
    .MS-MW-74 {
        width: 74%!important
    }
    .MS-MW-75 {
        width: 75%!important
    }
    .MS-MW-76 {
        width: 76%!important
    }
    .MS-MW-77 {
        width: 77%!important
    }
    .MS-MW-78 {
        width: 78%!important
    }
    .MS-MW-79 {
        width: 79%!important
    }
    .MS-MW-80 {
        width: 80%!important
    }
    .MS-MW-81 {
        width: 81%!important
    }
    .MS-MW-82 {
        width: 82%!important
    }
    .MS-MW-83 {
        width: 83%!important
    }
    .MS-MW-84 {
        width: 84%!important
    }
    .MS-MW-85 {
        width: 85%!important
    }
    .MS-MW-86 {
        width: 86%!important
    }
    .MS-MW-87 {
        width: 87%!important
    }
    .MS-MW-88 {
        width: 88%!important
    }
    .MS-MW-89 {
        width: 89%!important
    }
    .MS-MW-90 {
        width: 90%!important
    }
    .MS-MW-91 {
        width: 91%!important
    }
    .MS-MW-92 {
        width: 92%!important
    }
    .MS-MW-93 {
        width: 93%!important
    }
    .MS-MW-94 {
        width: 94%!important
    }
    .MS-MW-95 {
        width: 95%!important
    }
    .MS-MW-96 {
        width: 96%!important
    }
    .MS-MW-97 {
        width: 97%!important
    }
    .MS-MW-98 {
        width: 98%!important
    }
    .MS-MW-99 {
        width: 99%!important
    }
    .MS-MW-100 {
        width: 100%!important
    }
    .MAlignCenter {
        display: block;
        text-align: center
    }
    .MAlignCenter li {
        display: inline-block!important;
        float: none!important
    }
}
@media only screen and (min-width: 416px) and (max-width: 800px) {
    [class*="MS-"] {
        width: 100%
    }
    .FixedHeader {
        position: static!important
    }
    .MS-TW-1 {
        width: 1%!important
    }
    .MS-TW-2 {
        width: 2%!important
    }
    .MS-TW-3 {
        width: 3%!important
    }
    .MS-TW-4 {
        width: 4%!important
    }
    .MS-TW-5 {
        width: 5%!important
    }
    .MS-TW-6 {
        width: 6%!important
    }
    .MS-TW-7 {
        width: 7%!important
    }
    .MS-TW-8 {
        width: 8%!important
    }
    .MS-TW-9 {
        width: 9%!important
    }
    .MS-TW-10 {
        width: 10%!important
    }
    .MS-TW-11 {
        width: 11%!important
    }
    .MS-TW-12 {
        width: 12%!important
    }
    .MS-TW-13 {
        width: 13%!important
    }
    .MS-TW-14 {
        width: 14%!important
    }
    .MS-TW-15 {
        width: 15%!important
    }
    .MS-TW-16 {
        width: 16%!important
    }
    .MS-TW-17 {
        width: 17%!important
    }
    .MS-TW-18 {
        width: 18%!important
    }
    .MS-TW-19 {
        width: 19%!important
    }
    .MS-TW-20 {
        width: 20%!important
    }
    .MS-TW-21 {
        width: 21%!important
    }
    .MS-TW-22 {
        width: 22%!important
    }
    .MS-TW-23 {
        width: 23%!important
    }
    .MS-TW-24 {
        width: 24%!important
    }
    .MS-TW-25 {
        width: 25%!important
    }
    .MS-TW-26 {
        width: 26%!important
    }
    .MS-TW-27 {
        width: 27%!important
    }
    .MS-TW-28 {
        width: 28%!important
    }
    .MS-TW-29 {
        width: 29%!important
    }
    .MS-TW-30 {
        width: 30%!important
    }
    .MS-TW-31 {
        width: 31%!important
    }
    .MS-TW-32 {
        width: 32%!important
    }
    .MS-TW-33 {
        width: 33%!important
    }
    .MS-TW-34 {
        width: 34%!important
    }
    .MS-TW-35 {
        width: 35%!important
    }
    .MS-TW-36 {
        width: 36%!important
    }
    .MS-TW-37 {
        width: 37%!important
    }
    .MS-TW-38 {
        width: 38%!important
    }
    .MS-TW-39 {
        width: 39%!important
    }
    .MS-TW-40 {
        width: 40%!important
    }
    .MS-TW-41 {
        width: 41%!important
    }
    .MS-TW-42 {
        width: 42%!important
    }
    .MS-TW-43 {
        width: 43%!important
    }
    .MS-TW-44 {
        width: 44%!important
    }
    .MS-TW-45 {
        width: 45%!important
    }
    .MS-TW-46 {
        width: 46%!important
    }
    .MS-TW-47 {
        width: 47%!important
    }
    .MS-TW-48 {
        width: 48%!important
    }
    .MS-TW-49 {
        width: 49%!important
    }
    .MS-TW-50 {
        width: 50%!important
    }
    .MS-TW-51 {
        width: 51%!important
    }
    .MS-TW-52 {
        width: 52%!important
    }
    .MS-TW-53 {
        width: 53%!important
    }
    .MS-TW-54 {
        width: 54%!important
    }
    .MS-TW-55 {
        width: 55%!important
    }
    .MS-TW-56 {
        width: 56%!important
    }
    .MS-TW-57 {
        width: 57%!important
    }
    .MS-TW-58 {
        width: 58%!important
    }
    .MS-TW-59 {
        width: 59%!important
    }
    .MS-TW-60 {
        width: 60%!important
    }
    .MS-TW-61 {
        width: 61%!important
    }
    .MS-TW-62 {
        width: 62%!important
    }
    .MS-TW-63 {
        width: 63%!important
    }
    .MS-TW-64 {
        width: 64%!important
    }
    .MS-TW-65 {
        width: 65%!important
    }
    .MS-TW-66 {
        width: 66%!important
    }
    .MS-TW-67 {
        width: 67%!important
    }
    .MS-TW-68 {
        width: 68%!important
    }
    .MS-TW-69 {
        width: 69%!important
    }
    .MS-TW-70 {
        width: 70%!important
    }
    .MS-TW-71 {
        width: 71%!important
    }
    .MS-TW-72 {
        width: 72%!important
    }
    .MS-TW-73 {
        width: 73%!important
    }
    .MS-TW-74 {
        width: 74%!important
    }
    .MS-TW-75 {
        width: 75%!important
    }
    .MS-TW-76 {
        width: 76%!important
    }
    .MS-TW-77 {
        width: 77%!important
    }
    .MS-TW-78 {
        width: 78%!important
    }
    .MS-TW-79 {
        width: 79%!important
    }
    .MS-TW-80 {
        width: 80%!important
    }
    .MS-TW-81 {
        width: 81%!important
    }
    .MS-TW-82 {
        width: 82%!important
    }
    .MS-TW-83 {
        width: 83%!important
    }
    .MS-TW-84 {
        width: 84%!important
    }
    .MS-TW-85 {
        width: 85%!important
    }
    .MS-TW-86 {
        width: 86%!important
    }
    .MS-TW-87 {
        width: 87%!important
    }
    .MS-TW-88 {
        width: 88%!important
    }
    .MS-TW-89 {
        width: 89%!important
    }
    .MS-TW-90 {
        width: 90%!important
    }
    .MS-TW-91 {
        width: 91%!important
    }
    .MS-TW-92 {
        width: 92%!important
    }
    .MS-TW-93 {
        width: 93%!important
    }
    .MS-TW-94 {
        width: 94%!important
    }
    .MS-TW-95 {
        width: 95%!important
    }
    .MS-TW-96 {
        width: 96%!important
    }
    .MS-TW-97 {
        width: 97%!important
    }
    .MS-TW-98 {
        width: 98%!important
    }
    .MS-TW-99 {
        width: 99%!important
    }
    .MS-TW-100 {
        width: 100%!important
    }
    .MS-GW-1 {
        width: 100%
    }
    .MS-GW-2 {
        width: 50%
    }
    .MS-GW-3 {
        width: 33.3333%
    }
    .MS-GW-4 {
        width: 25%
    }
    .MS-GW-5 {
        width: 20%
    }
    .MS-GW-6 {
        width: 16.6666667%
    }
    .MS-GW-7 {
        width: 14.2857143%
    }
    .MS-GW-8 {
        width: 12.5%
    }
    .MS-GW-9 {
        width: 11.1111111%
    }
    .MS-GW-10 {
        width: 10%
    }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
    [class*="MS-"] {
        width: 100%
    }
    .MS-GW-1 {
        width: 100%
    }
    .MS-GW-2 {
        width: 50%
    }
    .MS-GW-3 {
        width: 33.3333%
    }
    .MS-GW-4 {
        width: 25%
    }
    .MS-GW-5 {
        width: 20%
    }
    .MS-GW-6 {
        width: 16.6666667%
    }
    .MS-GW-7 {
        width: 14.2857143%
    }
    .MS-GW-8 {
        width: 12.5%
    }
    .MS-GW-9 {
        width: 11.1111111%
    }
    .MS-GW-10 {
        width: 10%
    }
    .FixedHeader {
        position: static!important
    }
    .MS-HTW-1 {
        width: 1%!important
    }
    .MS-HTW-2 {
        width: 2%!important
    }
    .MS-HTW-3 {
        width: 3%!important
    }
    .MS-HTW-4 {
        width: 4%!important
    }
    .MS-HTW-5 {
        width: 5%!important
    }
    .MS-HTW-6 {
        width: 6%!important
    }
    .MS-HTW-7 {
        width: 7%!important
    }
    .MS-HTW-8 {
        width: 8%!important
    }
    .MS-HTW-9 {
        width: 9%!important
    }
    .MS-HTW-10 {
        width: 10%!important
    }
    .MS-HTW-11 {
        width: 11%!important
    }
    .MS-HTW-12 {
        width: 12%!important
    }
    .MS-HTW-13 {
        width: 13%!important
    }
    .MS-HTW-14 {
        width: 14%!important
    }
    .MS-HTW-15 {
        width: 15%!important
    }
    .MS-HTW-16 {
        width: 16%!important
    }
    .MS-HTW-17 {
        width: 17%!important
    }
    .MS-HTW-18 {
        width: 18%!important
    }
    .MS-HTW-19 {
        width: 19%!important
    }
    .MS-HTW-20 {
        width: 20%!important
    }
    .MS-HTW-21 {
        width: 21%!important
    }
    .MS-HTW-22 {
        width: 22%!important
    }
    .MS-HTW-23 {
        width: 23%!important
    }
    .MS-HTW-24 {
        width: 24%!important
    }
    .MS-HTW-25 {
        width: 25%!important
    }
    .MS-HTW-26 {
        width: 26%!important
    }
    .MS-HTW-27 {
        width: 27%!important
    }
    .MS-HTW-28 {
        width: 28%!important
    }
    .MS-HTW-29 {
        width: 29%!important
    }
    .MS-HTW-30 {
        width: 30%!important
    }
    .MS-HTW-31 {
        width: 31%!important
    }
    .MS-HTW-32 {
        width: 32%!important
    }
    .MS-HTW-33 {
        width: 33%!important
    }
    .MS-HTW-34 {
        width: 34%!important
    }
    .MS-HTW-35 {
        width: 35%!important
    }
    .MS-HTW-36 {
        width: 36%!important
    }
    .MS-HTW-37 {
        width: 37%!important
    }
    .MS-HTW-38 {
        width: 38%!important
    }
    .MS-HTW-39 {
        width: 39%!important
    }
    .MS-HTW-40 {
        width: 40%!important
    }
    .MS-HTW-41 {
        width: 41%!important
    }
    .MS-HTW-42 {
        width: 42%!important
    }
    .MS-HTW-43 {
        width: 43%!important
    }
    .MS-HTW-44 {
        width: 44%!important
    }
    .MS-HTW-45 {
        width: 45%!important
    }
    .MS-HTW-46 {
        width: 46%!important
    }
    .MS-HTW-47 {
        width: 47%!important
    }
    .MS-HTW-48 {
        width: 48%!important
    }
    .MS-HTW-49 {
        width: 49%!important
    }
    .MS-HTW-50 {
        width: 50%!important
    }
    .MS-HTW-51 {
        width: 51%!important
    }
    .MS-HTW-52 {
        width: 52%!important
    }
    .MS-HTW-53 {
        width: 53%!important
    }
    .MS-HTW-54 {
        width: 54%!important
    }
    .MS-HTW-55 {
        width: 55%!important
    }
    .MS-HTW-56 {
        width: 56%!important
    }
    .MS-HTW-57 {
        width: 57%!important
    }
    .MS-HTW-58 {
        width: 58%!important
    }
    .MS-HTW-59 {
        width: 59%!important
    }
    .MS-HTW-60 {
        width: 60%!important
    }
    .MS-HTW-61 {
        width: 61%!important
    }
    .MS-HTW-62 {
        width: 62%!important
    }
    .MS-HTW-63 {
        width: 63%!important
    }
    .MS-HTW-64 {
        width: 64%!important
    }
    .MS-HTW-65 {
        width: 65%!important
    }
    .MS-HTW-66 {
        width: 66%!important
    }
    .MS-HTW-67 {
        width: 67%!important
    }
    .MS-HTW-68 {
        width: 68%!important
    }
    .MS-HTW-69 {
        width: 69%!important
    }
    .MS-HTW-70 {
        width: 70%!important
    }
    .MS-HTW-71 {
        width: 71%!important
    }
    .MS-HTW-72 {
        width: 72%!important
    }
    .MS-HTW-73 {
        width: 73%!important
    }
    .MS-HTW-74 {
        width: 74%!important
    }
    .MS-HTW-75 {
        width: 75%!important
    }
    .MS-HTW-76 {
        width: 76%!important
    }
    .MS-HTW-77 {
        width: 77%!important
    }
    .MS-HTW-78 {
        width: 78%!important
    }
    .MS-HTW-79 {
        width: 79%!important
    }
    .MS-HTW-80 {
        width: 80%!important
    }
    .MS-HTW-81 {
        width: 81%!important
    }
    .MS-HTW-82 {
        width: 82%!important
    }
    .MS-HTW-83 {
        width: 83%!important
    }
    .MS-HTW-84 {
        width: 84%!important
    }
    .MS-HTW-85 {
        width: 85%!important
    }
    .MS-HTW-86 {
        width: 86%!important
    }
    .MS-HTW-87 {
        width: 87%!important
    }
    .MS-HTW-88 {
        width: 88%!important
    }
    .MS-HTW-89 {
        width: 89%!important
    }
    .MS-HTW-90 {
        width: 90%!important
    }
    .MS-HTW-91 {
        width: 91%!important
    }
    .MS-HTW-92 {
        width: 92%!important
    }
    .MS-HTW-93 {
        width: 93%!important
    }
    .MS-HTW-94 {
        width: 94%!important
    }
    .MS-HTW-95 {
        width: 95%!important
    }
    .MS-HTW-96 {
        width: 96%!important
    }
    .MS-HTW-97 {
        width: 97%!important
    }
    .MS-HTW-98 {
        width: 98%!important
    }
    .MS-HTW-99 {
        width: 99%!important
    }
    .MS-HTW-100 {
        width: 100%!important
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .Container {
        width: 1099px!important
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    .Container {
        width: 999px!important
    }
}
@media only screen and (min-width: 900px) and (max-width: 1000px) {
    .Container {
        width: 899px!important
    }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
    .Container {
        width: 799px!important
    }
}
@media only screen and (min-width: 100px) and (max-width: 800px) {
    .Container {
        width: 100%!important
    }
}
